# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env
.env
.env.local
.env.*.local

# Build outputs
ios/
android/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Coverage
coverage/

# TypeScript build info
*.tsbuildinfo
